html {
    background: #6462e7;
}

body {
    background: rgb(175,104,234);
    background: linear-gradient(180deg, rgba(175,104,234,1) 0%, rgba(100,98,231,1) 100%);
    background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
}

.acc-card {
    background: #fff;
    border-radius: 20px;
    min-height: 510px;
    z-index: 1;
}

.max-width {
    max-width:920px;
    margin: 0px auto;
    padding: 130px 0px;
}

.card-image-bg {
    background: url('../images/bg-pattern-desktop.svg') 100% 67%;
    min-height: 510px;
}

.second-img-bg {
    background: url('../images/illustration-woman-online-desktop.svg') 100% 50% no-repeat;
    min-height: 510px;
}

.box-img {
    position: absolute;
    left: -93px;
    top: 200px;
    z-index: 3;
}

h1 {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.card-padding {
    padding: 70px 80px;
}

.no-gutters {
    padding-left: 0;
    padding-right: 0;
}

.no-row-gutters {
    margin-left: 0;
    margin-right: 0;
}

.hide {
    display: none;
}

.border-bottom {
    border-bottom: 1px solid #e8e8e8;
}



  /* Style the buttons that are used to open and close the accordion panel */
.customAccordion {
    background: #fff;
    color: #444;
    cursor: pointer;
    padding: 0px 0px 20px 0px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .customAccordion:hover {
   
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0px 0px 20px 0px;
    background-color: transparent;
    /*display: none;
    overflow: hidden;*/
    transition: max-height 0.2s ease-out;
  }

  .acc-panel-active {
    transform: rotate(180deg);
  }