<div class="row">
    <div class="col-md-12 no-gutters border-bottom p-t-20">
        <div class="row custom-accordion">
            <div class="col-md-12">
                <button class="customAccordion"  {{action 'toggle'}}>{{@title}} <span class="float-right"><img src="images/icon-arrow-down.svg" alt="Down arrow" /></span></button>

                {{#if panelOpen}}
                <div class="panel">
                    <p>{{@sub-text}}</p>
                </div>
                {{/if}}
               
            </div>
        </div>
    </div>
</div>


