{{page-title "AccordionCardApp"}}
<div class="container-fluid max-width">
   <div class="row align-items-center">
        <div class="col acc-card">
            <div class="row">
                <div class="col-5 card-image-bg no-gutters">
                    <div class="second-img-bg">
                     <img src="{{rootURL}}/images/illustration-box-desktop.svg" class="box-img" />
                    
                    </div>
                </div>
                <div class="col-7 card-padding">
                    <h1>FAQ</h1>

                    <p>How many team members can I invite?</p>
                    <p>You can invite up to 2 additional users on the Free plan. There is no limit on team members for the Premium plan.</p>


                    <p>What is the maximum file upload size?</p>
                    <p>No more than 2GB. All files in your account must fit your allotted storage space.</p>


                    <p>How do I reset my password?</p>
                    <p>Click “Forgot password” from the login page or “Change password” from your profile page.</p>
                    <p>A reset link will be emailed to you.</p>


                    <p>Can I cancel my subscription?</p>
                    <p>Yes! Send us a message and we’ll process your request no questions asked.</p>

                    <p>Do you provide additional support?</p>
                    <p>Chat and email support is available 24/7. Phone lines are open during normal business hours.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{outlet}}